/* reset/normalize */
* { box-sizing: border-box; }

/* background */
.bgc-gray900            { background-color: #282828; }
.f-limea100             { fill: #41FF00; }
.f-green800-hv:hover    { fill: #2E7D32; }

/* border */
.bdrs-s         { border-right-style: solid; }
.bdw-3          { border-width: 3px; }

/* box */
.h            { height: 1.5rem; }
.mih-100vh    { height: 100vh; }
.w            { width: 1.5rem; }
.w-15ch        { width: 15ch; }

/* color */
.c-limea100     { color: #41FF00; }

/* display */
.d-f    { display: flex; }
.d-ib   { display: inline-block; }
.d-g    { display: grid; }

/* font */
.ff-monospace    { font-family: monospace; }
.fz\+            { font-size: 2rem; }

/* grid */
.ai-c      { align-items: center; }
.gg        { grid-gap: 1.5rem; }
.gtc-01    { grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));}
.gtr-01    { grid-template-rows: 1fr auto;  }
.jc-c      { justify-content: center; }

/* others */
.anim-01 { animation: typing 2s steps(14), blink .5s step-end infinite alternate; }

/* spacing */
.m0    { margin: 0; }
.ml    { margin-left: 1.5rem; }
.mt    { margin-top: 1.5rem; }
.p     { padding: 1.5rem; }

/* text */
.ov-h      { overflow: hidden; }
.ta-c      { text-align: center; }
.whs-nw    { white-space: nowrap; }

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}